.h-33 {
    height: 33%;
}

.h-66 {
    height: 66%;
}

.h-40 {
    height: 40%;
}

.h-60 {
    height: 60%;

}

 .fs-12{
    font-size: 12px;
 }
  .fs-10{
    font-size: 10px;
 }

.object-fit-contain {
    object-fit: contain;
}