 .fs-12 {
     font-size: 12px;
 }

 .fs-10 {
     font-size: 10px;
 }

 .w-4p{
    width: 400px;
 }
 .w-3p{
    width: 300px;
 }

 .scroll-y {
     height: 200px;
     overflow-y: auto;
     overflow-x: hidden;
 }

 .scroll {
     height: 80%;
     overflow-y: auto;
     overflow-x: hidden;
 }


 .grid {
     display: grid;
     grid-template-columns: repeat(12, 1fr);
     grid-template-rows: repeat(12, 1fr);
     gap: 1px;
     background-image: url("https://wallpapers.com/images/high/grey-wood-background-xkm2d2jo03l2j1ik.webp");
     background-size: cover;
     width: 74vw;
     height: 90vh;
     padding: 30px;
 }


 #ArchivesRoom {
     grid-row: 8/ 13;
     grid-column: 10/ 13;

 }

 #StaffRoom {
     grid-row: 8/ 13;
     grid-column: 7/ 10;
 }

 #SecurityRoom {
     grid-row: 1 / 6;
     grid-column: 10 / 13;
 }

 #ServerRoom {
     grid-row: 1 / 6;
     grid-column: 7/10;
 }

 #Reception {
     grid-row: 1/ 6;
     grid-column: 1 / 6;
 }

 #ConferenceRoom {
     grid-row: 6 / 13;
     grid-column: 1 / 6;
 }

 @media (max-width: 992px) {
     .scroll {
         display: flex;
         height: 70px;
         overflow-y: hidden;
         overflow-x: auto;
     }

      .card {
         flex-shrink: 0;
         margin: 0;
         padding: 0;
     }

     .grid {
         display: grid;
         grid-template-columns: repeat(12, 1fr);
         grid-template-rows: repeat(12, 1fr);
         gap: 1px;
         background-image: url("https://wallpapers.com/images/high/grey-wood-background-xkm2d2jo03l2j1ik.webp");
         background-size: cover;
         width: 98vw;
         height: 75vh;
         padding: 10px;
     }

 
 }